Package: com.junesiphone.nolswallfade
Name: NoLSWallFade
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes 11.3.1 ridiculously slow wallpaper fade on the lockscreen
Maintainer: JunesiPhone
Author: JunesiPhone
Section: Tweaks
